.Card {
    width: 100%;
    min-height: 8vh;

    padding: 1vw;

    display: flex;

    border-radius: 0.25rem;
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(133, 179, 255, 0.23);
    -moz-box-shadow: 0px 0px 15px 0px rgba(133, 179, 255, 0.23);
    box-shadow: 0px 0px 15px 0px rgba(133, 179, 255, 0.23);
}

.Card:first-child{
    margin-top: 0;
}

@media (max-width: 1024px) {
    .Card{
        margin-top: 2vw;
    }
}

@media (min-width: 1025px) {
    .Card {
        margin-top: 1vw;
    }
}